 <!--navbar vermelho-->
<app-navbar-sangue></app-navbar-sangue>
<!-- /navbar vermelho-->

<div class="container-fluid cont-postema d-flex justify-content-center align-items-center">

    <div class="row w-100 ">

      <div data-aos="fade-up" class="col-md-6 ">
        <div  class="box-novotema bg-dark">
          <h3 class="text-center  "> <span style="color: cornflowerblue; "> Cadastro de um novo
              tema</span></h3>
  
          <div class="form-group">
            <label class="" for="texto">Nome do novo tema:</label>
            <input class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu novo tema"
              [(ngModel)]='tema.descricao'>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <button class="btn  botao-publicar w-25" (click)='cadastrar()'>Cadastrar</button>
            </div>
          </div>
        </div>
        <hr>
  
        <div class="row mt-2">
          <div class="col-md-12 div-listas mb-2">
            <h4 class="text-center ">Lista de temas</h4>
          </div>
        </div>
  
        <div class="tabela">
          <table class="table table-hover ">
            <thead class="bg-white">
              <tr class="">
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col" class="d-flex justify-content-end">Modificações</th>
              </tr>
            </thead>
  
            <tbody class="bg-white">
              <tr *ngFor='let item of listaTemas'>
                <th scope="row">{{item.id}}</th>
                <td>{{item.descricao}}</td>
                <td class="d-flex justify-content-end">
                  <a class="btn btn-outline-info mr-3" [routerLink]="['/editar-tema', item.id]">Editar</a>
                  <a class="btn btn-outline-danger" [routerLink]="['/delete-tema', item.id]">Apagar</a>
                </td>
              </tr>
            </tbody>
  
  
          </table>
        </div>
      </div>
  
  
    </div>
  </div>


  
<!--footer vermelho-->
<app-footer-sangue></app-footer-sangue>
<!--/footer vermelho-->

