<!--navbar verde-->
<app-navbar></app-navbar>
<!--/navbar verde-->

<div class="container-fluid p-0 mt-5 ">
  <div class="jumbotron jumbotron-fluid text-center mb-0">
    <div class="container">
      <h1 class="mb-4">Nossa missão</h1>
      <p class="lead text-justify">Este projeto é o resultado de um processo de estudo de 4 integrantes (André, Carolina, Jéssica, Mauricio) no bootcamp da Generation Brasil (Turma 7). 
        Queremos ir além de colocar em prática nossos conhecimentos adquiridos em Desenvolvimento Web; nosso desejo é colocar a tecnologia à serviço da sociedade de forma útil e inclusiva através de uma plataforma que reúne diversas iniciativas sociais.
      </p>
    </div>
  </div>
</div>




<div class="container video">
  <div class="row">
    <div class="col-12">


      <h1 class="text-center mb-5">Apresentação do projeto</h1>
      <div class="video-box">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/ibnMR1EqTb0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
      </div>

    </div>
  </div>
</div>

<div _ngcontent-vaq-c53="" class="container my-5 py-5 carousel-generation">
  <div _ngcontent-vaq-c53="" class="row">
    <div _ngcontent-vaq-c53="" class="col-md-12">
      <h3 _ngcontent-vaq-c53="" class="my-5 font-weight-bold text-center">NOSSA EQUIPE</h3>
    </div>
  </div>
  <div _ngcontent-vaq-c53="" id="carouselExampleControls" data-ride="carousel" class="carousel slide">
    <div _ngcontent-vaq-c53="" class="carousel-inner">
      <div _ngcontent-vaq-c53="" class="carousel-item active">
        <div _ngcontent-vaq-c53="" class="row mt-4">
          <div _ngcontent-vaq-c53="" class="col-md-6 d-flex justify-content-end pr-5">
            <div _ngcontent-vaq-c53="" class="card border-0" style="width: 18rem;">
              <div _ngcontent-vaq-c53="" class="d-flex justify-content-center"><img _ngcontent-vaq-c53=""
                  src="../../assets/img/perfil - Copia (2).jpg" alt="Imagem de capa do card"
                  class="card-img-top rounded-circle w-50"></div>
              <div _ngcontent-vaq-c53="" class="card-body p-0 d-flex flex-column justify-content-center align-items-center">
                <h5 _ngcontent-vaq-c53="" class="card-title text-center space mt-4">André Willian</h5>
                <p class="text-center">Desenvolvedor Jr. em desenvolvimento</p>

                <div class="social-media d-flex justify-content-center align-items-center">

                  <a href="https://www.linkedin.com/in/andrecarvalho3/" target="_blank" rel="noopener noreferrer"><div id="linkedin" class="linkedin"></div></a>

                  <a href="https://github.com/AndrehW27" target="_blank" rel="noopener noreferrer"> <div id="github" class="github"></div></a>                  

                 
                </div>


                <div _ngcontent-vaq-c53="">

                </div>

              </div>
            </div>
          </div>
          <div _ngcontent-vaq-c53="" class="col-md-6 d-flex justify-content-start pl-5">
            <div _ngcontent-vaq-c53="" class="card border-0" style="width: 18rem;">
              <div _ngcontent-vaq-c53="" class="d-flex justify-content-center"><img _ngcontent-vaq-c53=""
                  src="../../assets/img/carolprofile.jpg" alt="Imagem de capa do card"
                  class="card-img-top rounded-circle w-50 h-144"></div>
              <div _ngcontent-vaq-c53="" class="card-body p-0">
                <h5 _ngcontent-vaq-c53="" class="card-title text-center space mt-4">Carolina Mira</h5>
                <p class="text-center">Jr Software Developer </p>

                <div class="social-media d-flex justify-content-center align-items-center">

                  <a href="https://www.linkedin.com/in/carolinagmira/" target="_blank" rel="noopener noreferrer"><div id="linkedin" class="linkedin"></div></a>

                  <a href="https://github.com/carolinamira" target="_blank" rel="noopener noreferrer"> <div id="github" class="github"></div></a>    

                </div>
                <div _ngcontent-vaq-c53="">

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div _ngcontent-vaq-c53="" class="carousel-item ">
        <div _ngcontent-vaq-c53="" class="row mt-4">
          <div _ngcontent-vaq-c53="" class="col-md-6 d-flex justify-content-end pr-5">
            <div _ngcontent-vaq-c53="" class="card border-0" style="width: 18rem;">
              <div _ngcontent-vaq-c53="" class="d-flex justify-content-center"><img _ngcontent-vaq-c53=""
                  src="../../assets/img/jessica.jpg" alt="Imagem de capa do card"
                  class="card-img-top rounded-circle w-50 h-144"></div>
              <div _ngcontent-vaq-c53="" class="card-body p-0">
                <h5 _ngcontent-vaq-c53="" class="card-title text-center space mt-4">Jéssica Lorena</h5>
                <p class="text-center">Desenvolvedora em desenvolvimento Java</p>

                <div class="social-media d-flex justify-content-center align-items-center">

                  <a href="https://www.linkedin.com/in/jessica-lorena/" target="_blank" rel="noopener noreferrer"><div id="linkedin" class="linkedin"></div></a>

                  <a href="https://github.com/Jessica-Lorena" target="_blank" rel="noopener noreferrer"> <div id="github" class="github"></div></a>    

                </div>
                <div _ngcontent-vaq-c53="">

                </div>

              </div>
            </div>
          </div>
          <div _ngcontent-vaq-c53="" class="col-md-6 d-flex justify-content-start pl-5">
            <div _ngcontent-vaq-c53="" class="card border-0" style="width: 18rem;">
              <div _ngcontent-vaq-c53="" class="d-flex justify-content-center"><img _ngcontent-vaq-c53=""
                  src="../../assets/img/mauricio.jpg" alt="Imagem de capa do card"
                  class="card-img-top rounded-circle w-50 h-144"></div>
              <div _ngcontent-vaq-c53="" class="card-body p-0">
                <h5 _ngcontent-vaq-c53="" class="card-title text-center space mt-4">Mauricio Coutinho</h5>
                <p class="text-center">Java Full Stack Developer Jr.</p>

                <div class="social-media d-flex justify-content-center align-items-center">

                  <a href="https://www.linkedin.com/in/mauriciocoutinho04/" target="_blank" rel="noopener noreferrer"><div id="linkedin" class="linkedin"></div></a>

                  <a href="https://github.com/maumaucout" target="_blank" rel="noopener noreferrer"> <div id="github" class="github"></div></a>    

                </div>
                <div _ngcontent-vaq-c53="">

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>



      <a _ngcontent-vaq-c53="" href="#carouselExampleControls" role="button" data-slide="prev"
        class="  carousel-control-prev">
        <span _ngcontent-vaq-c53="" aria-hidden="true" class=" carousel-control-prev-icon"></span>
        <span _ngcontent-vaq-c53="" class=" sr-only">Anterior</span>
      </a>

      <a _ngcontent-vaq-c53="" href="#carouselExampleControls" role="button" data-slide="next"
        class="carousel-control-next">
        <span _ngcontent-vaq-c53="" aria-hidden="true" class="carousel-control-next-icon"></span>
        <span _ngcontent-vaq-c53="" class="sr-only">Próximo</span>
      </a>

    </div>
  </div>
</div>

<!--footer verde-->
<app-footer></app-footer>
<!--/footer verde-->
