<div class="container-fluid container-sobre">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="mb-5">Nossa missão</h1>
        <p class="lead text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis corporis,
          repudiandae eos corrupti doloremque deleniti aspernatur porro recusandae aut in reiciendis. Ad totam maiores
          reiciendis magnam delectus perferendis dolorum hic.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aut odio officia, quos quam neque
          reprehenderit corporis repellendus quo voluptas, cumque sed beatae. Animi deserunt ipsam labore facere neque.
        </p>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="container video">
    <div class="row">
      <div class="col-12">
  
  
        <h1 class="text-center mb-5">Doe, nao doi nada</h1>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/V3qoLABjYwA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
  
      </div>
    </div>
  </div>
  
  
  
  <!-- <div class="container-fluid container-sobre ">
      <div class="jumbotron jumbotron-fluid text-center bg-white">
          <div class="container">
            <h1 class="mb-5">Vai algo aqui, so nao sabemos o que...</h1>
            <p class="lead text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis corporis, repudiandae eos corrupti doloremque deleniti aspernatur porro recusandae aut in reiciendis. Ad totam maiores reiciendis magnam delectus perferendis dolorum hic.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aut odio officia, quos quam neque reprehenderit corporis repellendus quo voluptas, cumque sed beatae. Animi deserunt ipsam labore facere neque.
            </p>
          </div>
        </div>
  </div> -->
  
  
  
  
  
  
  
  <!-- CAROUSEL ANTIGO -->
  
  
  
  
  
  
  
  
  <!-- <div class="container carousel my-5">
    <div class="row">
      <div class="col-12">
  
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  
          <div class="carousel-inner mt-5">
            <div class="carousel-item active d-flex justify-content-center">
  
              
              <div class="card" style="width: 18rem;">
                <img src="../../assets/icons/logo-vermelho.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
  
              <div class="card" style="width: 18rem;">
                <img src="../../assets/icons/logo-vermelho.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
  
  
            </div>
  
            <div class="carousel-item d-flex justify-content-center">
  
              
              <div class="card" style="width: 18rem;">
                <img src="../../assets/icons/logo-vermelho.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
  
             
              <div class="card" style="width: 18rem;">
                <img src="../../assets/icons/logo-vermelho.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
  
  
            </div>
  
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  
  
      </div>
    </div>
  </div> -->
  
  
  
  
  
  <!-- CAROUSEL ANTIGO -->
  
  
  
  
  
  <div _ngcontent-vaq-c53="" class="container my-5 py-5 carousel-generation">
    <div _ngcontent-vaq-c53="" class="row">
      <div _ngcontent-vaq-c53="" class="col-md-12">
        <h3 _ngcontent-vaq-c53="" class="mb-4 font-weight-bold text-center">NOSSA EQUIPE</h3>
      </div>
    </div>
    <div _ngcontent-vaq-c53="" id="carouselExampleControls" data-ride="carousel" class="carousel slide">
      <div _ngcontent-vaq-c53="" class="carousel-inner">
        <div _ngcontent-vaq-c53="" class="carousel-item">
          <div _ngcontent-vaq-c53="" class="row mt-4">
            <div _ngcontent-vaq-c53="" class="col-md-6 d-flex justify-content-end pr-5">
              <div _ngcontent-vaq-c53="" class="card border-0" style="width: 18rem;">
                <div _ngcontent-vaq-c53="" class="d-flex justify-content-center"><img _ngcontent-vaq-c53=""
                    src="https://i.imgur.com/AXFU4OX.jpg" alt="Imagem de capa do card"
                    class="card-img-top rounded-circle w-50"></div>
                <div _ngcontent-vaq-c53="" class="card-body p-0">
                  <h5 _ngcontent-vaq-c53="" class="card-title text-center text-monospace mt-4">Cecilia Manzoli</h5>
                  <p _ngcontent-vaq-c53="" class="card-text text-center text-monospace">Gerente de Engajamento e Marketing
                  </p>
                  <div _ngcontent-vaq-c53="">
  
                  </div>
  
                </div>
              </div>
            </div>
            <div _ngcontent-vaq-c53="" class="col-md-6 d-flex justify-content-start pl-5">
              <div _ngcontent-vaq-c53="" class="card border-0" style="width: 18rem;">
                <div _ngcontent-vaq-c53="" class="d-flex justify-content-center"><img _ngcontent-vaq-c53=""
                    src="https://i.imgur.com/8O3sHOI.jpg" alt="Imagem de capa do card"
                    class="card-img-top rounded-circle w-50 h-144"></div>
                <div _ngcontent-vaq-c53="" class="card-body p-0">
                  <h5 _ngcontent-vaq-c53="" class="card-title text-center text-monospace mt-4">Josiane Paixão</h5>
                  <p _ngcontent-vaq-c53="" class="card-text text-center text-monospace">Analista de Engajamento e
                    Marketing</p>
                  <div _ngcontent-vaq-c53="">
  
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div _ngcontent-vaq-c53="" class="carousel-item active">
          <div _ngcontent-vaq-c53="" class="row mt-4">
            <div _ngcontent-vaq-c53="" class="col-md-6 d-flex justify-content-end pr-5">
              <div _ngcontent-vaq-c53="" class="card border-0" style="width: 18rem;">
                <div _ngcontent-vaq-c53="" class="d-flex justify-content-center"><img _ngcontent-vaq-c53=""
                    src="https://i.imgur.com/Dy7SUn1.jpg" alt="Imagem de capa do card"
                    class="card-img-top rounded-circle w-50 h-144"></div>
                <div _ngcontent-vaq-c53="" class="card-body p-0">
                  <h5 _ngcontent-vaq-c53="" class="card-title text-center text-monospace mt-4">Marcela Ricupero</h5>
                  <p _ngcontent-vaq-c53="" class="card-text text-center text-monospace">Coordenadora de Currículo e
                    Instrução</p>
                  <div _ngcontent-vaq-c53="">
  
                  </div>
  
                </div>
              </div>
            </div>
            <div _ngcontent-vaq-c53="" class="col-md-6 d-flex justify-content-start pl-5">
              <div _ngcontent-vaq-c53="" class="card border-0" style="width: 18rem;">
                <div _ngcontent-vaq-c53="" class="d-flex justify-content-center"><img _ngcontent-vaq-c53=""
                    src="https://i.imgur.com/ikTme4o.jpg" alt="Imagem de capa do card"
                    class="card-img-top rounded-circle w-50 h-144"></div>
                <div _ngcontent-vaq-c53="" class="card-body p-0">
                  <h5 _ngcontent-vaq-c53="" class="card-title text-center text-monospace mt-4">Andrea Botet</h5>
                  <p _ngcontent-vaq-c53="" class="card-text text-center text-monospace">Associada de Currículo e Instrução
                  </p>
                  <div _ngcontent-vaq-c53="">
  
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
  
        <a _ngcontent-vaq-c53="" href="#carouselExampleControls" role="button" data-slide="prev"
          class="  carousel-control-prev">
          <span _ngcontent-vaq-c53="" aria-hidden="true" class=" carousel-control-prev-icon"></span>
          <span _ngcontent-vaq-c53="" class=" sr-only">Anterior</span>
        </a>
  
        <a _ngcontent-vaq-c53="" href="#carouselExampleControls" role="button" data-slide="next"
          class="carousel-control-next">
          <span _ngcontent-vaq-c53="" aria-hidden="true" class="carousel-control-next-icon"></span>
          <span _ngcontent-vaq-c53="" class="sr-only">Próximo</span>
        </a>
  
      </div>
    </div>
  </div>
  
