

.video{
    position: relative;
    top:90px;
   
}

.video-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-nosso{
    
    height: 70vh;
    border: 2px solid red;

}

.carousel-generation{
    position: relative;
    top:90px;
    height: 600px;
 
}

.cor-botao{
    background-color: brown;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
 
  background-size: 100%, 100%;

  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(189, 189, 189);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(189, 189, 189);
}

.linkedin, .github {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 12px ;
}

#linkedin{
    background-image: url('../../assets/icons/linkedin-cinza.png');
}

#github{
    background-image: url('../../assets/icons/github-cinza.png');
}

#linkedin:hover{
    cursor: pointer;
    background-image: url('../../assets/icons/linkedin-original.png');
}

#github:hover{
    cursor: pointer;
    background-image: url('../../assets/icons/github-original.png')
}

