<div class="gambs">

  <!--navbar vermelho-->
  <app-navbar-sangue></app-navbar-sangue>
  <!-- /navbar vermelho-->


  <div class="jumbotron jumbotron-fluid mt-5 mb-0 py-4 ">
    <div class="container">
      <h3 class=" text-center my-3">Cadastro de um novo hospital</h3>
      <p style="font-size: 16px;" class="lead text-justify">Com o compartilhamento de informações e uma atitude
        colaborativa construiremos uma rede cada vez mais completa! <br>
        Se você não encontrou um hospital/ponto de doação de sangue na nossa lista, por gentileza preencha o formulário
        para cadastrar; nossa equipe realizará a análise do cadastro e a confirmação de que o local se encontra ativo e
        recebendo doações.</p>
    </div>
  </div>


  <!-- COLLAPSE -->
  <p class="text-center">
    <a class="btn text-white w-25 mt-3" style="background-color: var(--primary-red);display: inline-block;"
      data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample ">
      Cadastre um novo hospital aqui

      <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <div class="plus">
        </div>
      </button>     -->

    </a>

  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">



      <!-- CONTEUDO-COLLAPSE -->


      <!-- CONTAINER 1 -->

      <div class="container container-hospital mt-3">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-6">


            <!-- <h3 class="text-center mb-4 ">Cadastro de um novo hospital</h3>
      <p class="my-3">Com o compartilhamento de informações e uma atitude colaborativa construiremos uma rede cada vez mais completa! 
        Se você não encontrou um hospital/ponto de doação de sangue na nossa lista, por gentileza preencha o formulário para cadastrar; nossa equipe realizará a análise do cadastro e a confirmação de que o local se encontra ativo e recebendo doações.</p> -->

            <div class="form-group">
              <label class="" for="texto">Nome do hospital:</label>
              <input class="form-control" id="texto" rows="3" placeholder="Digite aqui o nome do hospital"
                [(ngModel)]='hospital.nome'>
            </div>


            <!-- <div class="form-group">
            <label class="" for="texto">Cidade:</label>
            <input class="form-control" id="texto" rows="3" placeholder="Digite aqui a cidade do hospital"
              [(ngModel)]='hospital.cidade'>
          </div> -->

            <!-- DROP CIDADE -->


            <div class="row mb-3">
              <div class="col-md-6">
                <div class="row  d-flex justify-content-center align-items-center">
                  <div class="col-md-12 ">
                    <label class="mt-3" for="tema">Escolha um Estado</label>
                    <select id="estado" name="Estado" class="form-control" (change)="estadoSelecionado($event)">
                      <option *ngFor="let item of estados" value={{item.id}}>{{item.name}}</option>
                    </select>
                  </div>
                </div>


                <div class="row  d-flex justify-content-center align-items-center">
                  <div class="col-md-12 ">
                    <label class="mt-3" for="tema">Escolha uma Cidade</label>
                    <select id="cidade" name="Cidade" class="form-control" [(ngModel)]='hospital.cidade'>
                      <option *ngFor="let item of cidades" value={{item.name}}>{{item.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <!-- / DROP CIDADE -->



            <div class="form-group">
              <label class="" for="texto">Endereço:</label>
              <input class="form-control" id="texto" rows="3" placeholder="Digite aqui o endereço do hospital"
                [(ngModel)]='hospital.endereco'>
            </div>


            <div class="form-group">
              <label class="" for="texto">Link do Google Maps:</label>
              <input class="form-control" id="texto" rows="3" placeholder="https://www.google.com.br/maps/..."
                [(ngModel)]='hospital.link'>
            </div>


            <div class="row mb-5">
              <div class="col-md-12 d-flex justify-content-center">
                <button class="btn w-25 my-3 botao-pesquisar mb-2" (click)='cadastrar()'>Cadastrar</button>
              </div>
            </div>


          </div>
        </div>
      </div>

      <!-- CONTAINER 1 -->

      <!-- CONTEUDO-COLLAPSE -->

    </div>
  </div>

  <!-- / COLLAPSE -->






  <!-- COLLAPSE CIDADE-->

  <p class="text-center mt-3">
    <a class="btn  w-25  text-white " style="background-color: var(--primary-red);display: inline-block;"
      data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
      aria-controls="collapseExample ">
      Busque hospitais por cidade aqui
    </a>

  </p>
  <div class="collapse " id="collapseExample2">
    <div class="card card-body mb-3 ">


      <div class="row text-center d-flex justify-content-center align-items-center">
        <div class="col-md-3 text-center">
          <label class="mt-3" for="tema">Escolha um Estado</label>
          <select id="estado" name="Estado" class="form-control" (change)="estadoSelecionado($event)">
            <option *ngFor="let item of estados" value={{item.id}}>{{item.name}}</option>
          </select>
        </div>
      </div>



      <div class="row text-center d-flex justify-content-center align-items-center">
        <div class="col-md-3 text-center">
          <label class="mt-3" for="tema">Escolha uma Cidade</label>
          <select id="cidade" name="Cidade" class="form-control" [(ngModel)]='cidade'>
            <option *ngFor="let item of cidades" value={{item.name}}>{{item.name}}</option>
          </select>
        </div>
      </div>

      <div class="row text-center d-flex justify-content-center align-items-center">
        <button class="btn botao-pesquisar w-25 mt-4 mx-2 text-center" (click)='findByCidadeHospital()'>Buscar por
          cidade</button>
      </div>

    </div>
  </div>

  <!-- COLLAPSE CIDADE -->






  <!-- CONTAINER 2 -->

  <div class="jumbotron jumbotron-fluid  mb-0 py-4 tabela">
    <div class="container">
      <h3 class=" text-center my-3">Lista de hospitais</h3>
      <p style="font-size: 16px;" class="lead">Encontre na lista abaixo os hospitais/pontos de doação de sangue mais
        próximos da sua localização através do link do Google Maps. Os locais com a classificação "ativo" estão
        recebendo
        doações, e os locais "em análise" estão sendo verificados por nossa equipe</p>
    </div>
  </div>

  <div class="row mb-4 mt-4 ">
    <div class="col-md-12 d-flex justify-content-center">

      <button class="btn text-white w-25  mx-2" style="background-color: var(--primary-red);"
        (click)='findAllHospitalsBotao()'>Ver todos os hospitais</button>
      <!-- <button class="btn text-white w-25 mt-4 mx-2" style="background-color: var(--primary-red);" (click)='findBySangueECidade()'>Buscar os dois</button> -->
    </div>
  </div>







  <div class="container  mb-5 ">
    <div class="row d-flex justify-content-center align-items-center  mb-5">
      <div class="col-md-12 mb-5">




        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Hospital</th>
              <th scope="col">Cidade</th>
              <th scope="col">Endereço</th>
              <th scope="col">Google Maps</th>
              <th scope="col">Status</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let item of listaHospitais tr-css'>
              <th scope="row">{{item.id}}</th>
              <td class="td"> {{item.nome}}</td>
              <td class="td">{{item.cidade}}</td>
              <td class="td">{{item.endereco}}</td>
              <td class="td"><a href="{{item.link}}" target="_blank" rel="noopener noreferrer">Link Google Maps</a></td>
              <td class="td">Em análise</td>
              <td class="d-flex justify-content-end">
                <!-- <a class="btn btn-outline-info mr-3" [routerLink]="['/editar-hospital', item.id]">Editar</a>
              <a class="btn btn-outline-danger" [routerLink]="['/delete-hospital', item.id]">Apagar</a> -->




                <!-- <div>
                <button class=" editar mr-3 btn " [routerLink]="['/editar-hospital', item.id]">
                  editar
                </button>

                <button class="apagar mr-3 btn  ml-3" [routerLink]="['/delete-hospital', item.id]">
                  apagar
                </button>
              </div> -->

                <div class=" px-0 d-flex justify-content-center align-items-center mt-3 mb-2">
                  <div class="a-out-icon">
                    <div id="editou" class="editar-icon " [routerLink]="['/editar-hospital', item.id]"></div>
                  </div>

                  <div class="a-out-icon">
                    <div id="apagou" class="apagar-icon" [routerLink]="['/delete-hospital', item.id]"></div>
                  </div>
                </div>


              </td>

            </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>

  <!-- CONTAINER 2 -->


  <!--footer vermelho-->
  <app-footer-sangue></app-footer-sangue>
  <!--/footer vermelho-->

</div>
