<!--navbar vermelho-->
<app-navbar-sangue></app-navbar-sangue>
<!-- /navbar vermelho-->


<div id="feed" class="container-fluid py-5 cont-feed mb-5 ">

  <div class="row  d-flex justify-content-center align-items-center mb-5 bg-white mt-3 ">


    <div class="col-md-6 col-feed p-4 mt-3 ">



      <!-- COLLAPSE -->
      <p class="text-center">
        <a class="btn text-white w-50" style="background-color: var(--primary-red);display: inline-block;"
          data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample ">
          Faça uma nova publicação aqui
        </a>

      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">



          <!-- CONTEUDO-COLLAPSE -->



          <div class="form-group">
            <label class="" for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o seu titulo"
              [(ngModel)]='postagem.titulo'>
          </div>

          <div class="form-group">
            <label class="" for="texto">Texto:</label>
            <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto"
              [(ngModel)]='postagem.text_box'></textarea>
          </div>

          <div class="form-group">
            <label class="" for="imagem">Imagem:</label>
            <input type="text" class="form-control" id="imagem"
              placeholder="Entre com o link da sua imagem => https://www..." [(ngModel)]='postagem.imagem'>
          </div>

          <div class="row d-flex align-items-end ">

            <div class="col-md-12 ">
              <div class="form-group m-0">



                <div class="container-fluid w-100 ">

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group mt-3 ">
                        <label class="text" for="cidade">Cidade:</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Digite aqui sua cidade"
                          [(ngModel)]='postagem.cidade'>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group mt-3 ">
                        <label class="text" for="hospital">Hospital:</label>
                        <input type="text" class="form-control" id="hospital" placeholder="Digite aqui seu hospital"
                          [(ngModel)]='postagem.nome_hospital'>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="container-fluid w-100 ">

                  <div class="row">

                    <div class="col-md-6">
                      <label class="" for="tema">Escolha um tema


                        <!-- RETIRADO A OPCAO DE INSERIR NOVO TEMA, POIS A REGRA DE NEGOCIO DEFINE QUE O USUARIO NAO PODE CADASTRAR UM NOVO TEMA. TEMAS: ID1: Ajudei, ID2: Info, ID3: Pedido-->

                        <!-- <a routerLink="/cadastro-tema">Cadastre um
                      novo</a> -->
                      </label>
                      <select name="tema" id='tema' class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
                        <option value="" disabled selected>Tema</option>
                        <option *ngFor='let item of listaTemas' value={{item.id}}>
                          {{item.descricao}}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label class="" for="tema">Escolha um tipo sanguíneo</label>
                      <select id="tipo-sangue" name="sangue" class="form-control" [(ngModel)]='postagem.sangue'>
                        <option value="" disabled selected>Tipo sanguíneo</option>
                        <option value="Prefiro não informar">Prefiro não informar</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="RH nulo">RH nulo</option>
                      </select>
                    </div>
                  </div>

                </div>





                <!-- dropdown-sangue -->

                <!-- dropdown-sangue -->



              </div>
            </div>

            <div class="col-md-12 d-flex justify-content-end ">
              <button type="button" class="btn btn-outline-info mt-4" (click)='publicar()'>Publicar</button>
            </div>

          </div>

          <!-- CONTEUDO-COLLAPSE -->

        </div>
      </div>

      <!-- / COLLAPSE -->


      <!--  COLLAPSE 2 -->


      <!-- / COLLAPSE 2 -->


      <hr class="mt-5">

      <nav class="d-flex justify-content-center ">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab"
            href="#minhas-postagens" role="tab" aria-controls="nav-home" aria-selected="true">Postagens</a>

          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab"
            href="#postagens-temas" role="tab" aria-controls="nav-profile" aria-selected="false">Postagens por tema</a>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="minhas-postagens" role="tabpanel"
          aria-labelledby="nav-postagens-tab">
          <div class="row mt-3 mb-3">
            <div class="col-md-10 pr-0">
              <input class="form-control w-100" type="search" placeholder="Pesquisar postagem" aria-label="Pesquisar"
                [(ngModel)]='titulo'>
            </div>
            <div class="col-md-2 pl-0">
              <button class="btn btn-outline-info w-100" type="button"
                (click)='findByTituloPostagem()'>Pesquisar</button>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-12 ">

              <div class="card mt-5" *ngFor='let item of listaPostagens | orderBy: key : reverse'>
                <div class="card-header">
                  <div class="row d-flex align-items-center 	">
                    <div class="col-md-8 ">

                      <h5 class="card-title"> {{item.titulo}} </h5>

                      <small class="mr-3">{{item.tema.descricao}}</small>
                      <small class="mx-3">{{item.cidade}}</small>
                      <small class="mx-3">{{item.nome_hospital}}</small>

                      <small class="mx-3"> <span style="color: var(--primary-red);">{{item.sangue}}</span> </small>
                    </div>



                    <div class="col-md-4">

                      <button class="mr-3 btn btn-outline-info" [routerLink]="['/editar-post', item.id]">
                        Editar
                      </button>

                      <button class="mr-3 btn btn-outline-danger ml-3" [routerLink]="['/delete-post', item.id]">
                        Apagar
                      </button>
                    </div>






                  </div>
                </div>


                <div class="card-body ">
                  <div class="imagem"><img class="imagem" src="{{item.imagem}}" alt=""></div>
                  <p class="card-text mt-3" aria-describedby="texto"> {{item.text_box}} </p>
                  <small id="texto" class="form-text m-0 text-muted mb-3 ">
                    Postado em {{item.data_post | date: 'dd/MM/yyyy '}} às {{item.data_post | date: 'HH:mm'}} </small>
                </div>

              </div>
            </div>
          </div>
        </div>












        <div class="tab-pane fade show" id="postagens-temas" role="tabpanel" aria-labelledby="nav-presenca-tab">
          <div class="row mt-3 mb-3">
            <div class="col-md-10 pr-0">
              <input class="form-control w-100" type="search" placeholder="Pesquisar postagem" aria-label="Pesquisar"
                [(ngModel)]='nomeTema'>
            </div>
            <div class="col-md-2 pl-0">
              <button class="btn btn-outline-info w-100" type="button" (click)='findByNomeTema()'>Pesquisar</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" *ngFor='let item of listaTemas | orderBy: key : reverse'>
              <div *ngFor='let post of item.postagem'>
                <div class="card mt-5 mb-5">
                  <div class="card-header">
                    <div class="row d-flex align-items-center">
                      <div class="col-md-12">
                        <h5 class="card-title">{{post.titulo}}</h5>
                        <!-- <small class="mr-3">{{item.tema.descricao}}</small> -->
                        <small class="mx-3">{{post.cidade}}</small>
                        <small class="mx-3">{{post.nome_hospital}}</small>
                        <small class="mx-3"> <span style="color: var(--primary-red);">{{post.sangue}}</span> </small>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="imagem"><img class="imagem" src="{{item.imagem}}" alt=""></div>
                    <p class="card-text" aria-describedby="texto">{{post.text_box}}</p>
                    <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">Postado em:
                      {{post.data_post | date: 'dd/MM/yyyy'}} às {{post.data_post | date: 'HH:mm'}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Final da tab "Postagens Temas" -->




<!--footer vermelho-->
<app-footer-sangue></app-footer-sangue>
<!--/footer vermelho-->
