<!--navbar verde-->
<app-navbar></app-navbar>
<!--/navbar verde-->

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti inventore sunt eum mollitia repellat fugit quibusdam non veritatis autem. Libero fugiat obcaecati numquam amet voluptatibus beatae minus reiciendis aliquid illum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti inventore sunt eum mollitia repellat fugit quibusdam non veritatis autem. Libero fugiat obcaecati numquam amet voluptatibus beatae minus reiciendis aliquid illum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti inventore sunt eum mollitia repellat fugit quibusdam non veritatis autem. Libero fugiat obcaecati numquam amet voluptatibus beatae minus reiciendis aliquid illum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti inventore sunt eum mollitia repellat fugit quibusdam non veritatis autem. Libero fugiat obcaecati numquam amet voluptatibus beatae minus reiciendis aliquid illum?
</p>

<!--footer verde-->
<app-footer></app-footer>
<!--/footer verde-->