<!--navbar vermelho-->
<app-navbar-sangue></app-navbar-sangue>
<!-- /navbar vermelho-->


<div class="container d-flex justify-content-center align-items-center mb-5">
    <div class="row mt-5 mb-5 d-flex justify-content-center align-items-center mb-5 w-100">
       
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-8">
                            <h5 class="card-title">{{postagem.titulo}}</h5>
                            <small class="mr-3">{{postagem.tema.descricao}}</small>
                            <small class="mx-3">{{postagem.cidade}}</small>
                            <small class="mx-3">{{postagem.nome_hospital}}</small>
                            <small class="mx-3"> <span style="color: var(--primary-red);">{{postagem.sangue}}</span> </small>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="imagem"><img class="imagem" src="{{postagem.imagem}}" alt=""></div>
                    <p class="card-text mt-3" aria-describedby="texto">{{postagem.text_box}}</p>
                    <small id="texto" class="form-text m-0 text-muted mb-3">Postado em: {{postagem.data_post | date: 'dd/MM/yyyy'}} às {{postagem.data_post | date: 'HH:mm'}}</small>
                </div>
            </div>

            <h5 class="text-center mt-3">Tem certeza que deseja apagar esta postagem?</h5>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-outline-success mr-3" (click)="btnSim()">Sim</button>
                <button class="btn btn-outline-danger" (click)="btnNao()">Não</button>
            </div>
        </div>
    </div>
</div>

<!--footer vermelho-->
<app-footer-sangue></app-footer-sangue>
<!--/footer vermelho-->