.linkverdelogin {
    color: var(--primary-green);
}

/* .img-login {
    background-image: url("../../assets/img/img-login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

} */


.container-teste{
    position: relative;
    top: 110px;
    height: 73vh;
}

.row-teste{
    height: 100%;
}

.col-teste2{
    height: 100%;
    border-radius: 0px 20px 20px 0px; 
    box-shadow: 5px 10px 30px #000;
}

.col-teste1{
    height: 100%;
    background-image: url('../../assets/img/doar-sangue2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 0px 0px 20px; 
    box-shadow: 5px 10px 30px #000;
}

.botao-login{
    color:white;
    background-color: var(--primary-green);
    transition: ease-in-out 200ms;
    border: none;
    box-sizing: border-box;
}

.botao-login:hover{
    opacity: 0.9;
    background-color: #FFF;
    color: var(--primary-green);
    border: 1px solid black;
 
    box-sizing: border-box;
}