<div class="container-fluid container-home ">
    <div class="row ">
        <div class="col-12 d-flex justify-content-center align-items-center col-home ">

            <div class="card border-2 card-home " style="width: 18rem;">

                <h2 class="text-center mt-3">Logado</h2>
                <div class="d-flex justify-content-center">
                    <img class="card-img-top rounded-circle w-75" src="../../assets/icons/logo-vermelho.png"
                        alt="Imagem de capa do card">
                </div>

                <div class="card-body">
                    <h5 class="card-title text-center ">Salve vidas</h5>

                </div>
            </div>
        </div>
    </div>
</div>