<!--navbar vermelho-->
<app-navbar></app-navbar>
<!-- /navbar vermelho-->


<!-- EMPRESAS -->
<div class="jumbotron jumbotron-fluid mb-0 p-0 pb-4 pt-5 mt-4">
  <div class="container">
    <h3 class="text-center my-3">Empresas Patrocionadores</h3>
    <p style="font-size: 16px;" class="lead text-justify">Somos gratos pela contribuição de empresas incríveis que
      acreditam na força do trabalho em equipe e
      em projetos inovadores. Cada uma escolheu uma forma de presentear e agradecer os participantes do Impacta+ com
      descontos, ingressos e incentivos.
    </p>
  </div>
</div>


<div class="container-fluid  p-0  d-flex justify-content-center align-items-center">

  <div class="row p-0  mb-5 mt-5 d-flex justify-content-center align-items-center w-100  ">

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/itau.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Itaú</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/alice.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alice</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/iffod.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ifood</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/itm.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ITM</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Resgatar</a>
        </div>
      </div>
    </div>

  </div>

</div>



<div class="container-fluid mb-5 p-0  d-flex justify-content-center align-items-center">
  <!-- <hr class="mb-5 pb-5 hr"> -->

  <div class="row p-0  mb-5 mt-5 d-flex justify-content-center align-items-center w-100  ">

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/cinemark.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cinemark</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/totvs.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Totvs</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/mc1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MC1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/uber.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Uber</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Resgatar</a>
        </div>
      </div>
    </div>

  </div>


</div>

<!-- / EMPRESAS -->






















<!-- PARCEIROS -->


<div class="jumbotron jumbotron-fluid mb-0 p-0 pb-4 pt-5 mt-4">
  <div class="container">
    <h1 class="text-center my-3">Projetos Parceiros</h1>
    <p style="font-size: 16px;" class="lead text-justify text-center">Para conhecer outros projetos excelentes da Turma
      7 - Generation, visite os sites linkados abaixo:
  </div>
</div>


<div class="container-fluid bg-dark p-0  d-flex justify-content-center align-items-center">

  <div class="row p-0  mb-5 mt-5 d-flex justify-content-center align-items-center w-100 bg-dark">



    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="https://github.com/bpcavalcante/ZUZ-Projeto-Integrador-FrontEnd " target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/itau.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>


    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="https://github.com/sofifernandes/HoldingHands-Front" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/alice.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="https://github.com/procausas" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/iffod.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>



  </div>

</div>

<div class="container-fluid bg-dark p-0 mb-5 d-flex justify-content-center align-items-center">

  <div class="row p-0  mb-5 mt-5 d-flex justify-content-center align-items-center w-100 bg-dark">



    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="http://google.com.br" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/itau.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>


    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="http://google.com.br" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/alice.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="http://google.com.br" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/iffod.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>



  </div>

</div>


<!-- / PARCEIROS -->



<!--navbar vermelho-->
<app-footer></app-footer>
<!-- /navbar vermelho-->
