<!--navbar vermelho-->
<app-navbar></app-navbar>
<!-- /navbar vermelho-->


<!-- EMPRESAS -->
<div class="jumbotron jumbotron-fluid mb-0 p-0 pb-4 pt-5 mt-4">
  <div class="container">
    <h3 class="text-center my-3">Empresas Patrocionadores</h3>
    <p style="font-size: 16px;" class="lead text-justify">Somos gratos pela contribuição de empresas incríveis que
      acreditam na força do trabalho em equipe e
      em projetos inovadores. Cada uma escolheu uma forma de presentear e agradecer os participantes do Impacta+ com
      descontos, ingressos e incentivos.
    </p>
  </div>
</div>


<div class="container-fluid  p-0  d-flex justify-content-center align-items-center">

  <div class="row p-0  mb-5 mt-5 d-flex justify-content-center align-items-center w-100  ">

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/itau.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Itaú</h5>
          <p class="card-text">A cada doação o cliente Itaú acumula pontos no Programa Sempre Presente, que oferece
            benefícios associados a outras grandes empresas (Livraria Cultura, TIM, Pão de Açúcar, entre outros).</p>
          <a class="btn btn-primary" (click)='resgatar()'>Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center h-100">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/alice.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alice</h5>
          <p class="card-text">Receba 5% de desconto nos três primeiros meses de contratação do plano de saúde Standard
            da Alice.
          </p>
          <a class="btn btn-primary" (click)='resgatar()'>Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/iffod.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ifood</h5>
          <p class="card-text">Cliente IFood sempre gosta de um cupom! Para você que teve um ato de generosidade, temos R$30 para serem aproveitados com seu restaurante preferido.</p>
          <a class="btn btn-primary" (click)='resgatar()'>Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/starbucks.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Starbucks</h5>
          <p class="card-text">Depois da doação de sangue, venha tomar um café com a gente! Te esperamos com um vale de 20% de desconto e um ambiente incrível para relaxar.</p>
          <a class="btn btn-primary" (click)='resgatar()'>Resgatar</a>
        </div>
      </div>
    </div>

  </div>

</div>



<div class="container-fluid mb-5 p-0  d-flex justify-content-center align-items-center">
  <!-- <hr class="mb-5 pb-5 hr"> -->

  <div class="row p-0  mb-5 mt-5 d-flex justify-content-center align-items-center w-100  ">

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/cinemark.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cinemark</h5>
          <p class="card-text">Aventura, mistério, romance... em todos os temas, ajudar o próximo é sempre a melhor parte do filme. Continue na inspiração com dois ingressos para nossos filmes, de segunda a quinta e com reserva no site. </p>
          <a class="btn btn-primary" (click)='resgatar()'>Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/totvs.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Totvs</h5>
          <p class="card-text">Nós somos ligados em informação e te apoiamos nesta escolha sensacional! Como forma de agradecimento, você pode utilizar um desconto de 10% em um de nossos treinamentos.</p>
          <a class="btn btn-primary" (click)='resgatar()'>Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/mc1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MC1</h5>
          <p class="card-text">Queremos te ajudar também! Temos soluções para você que possui uma empresa e teve esta grande iniciativa. Entre em contato conosco para uma reunião inicial de consultoria gratuita.</p>
          <a class="btn btn-primary" (click)='resgatar()'>Resgatar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/uber.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Uber</h5>
          <p class="card-text">Em comunidade vamos mais longe, e vamos de Uber! Em comemoração à sua decisão de salvar vidas, oferecemos 30% de desconto em uma viagem escolhida por você.</p>
          <a class="btn btn-primary" (click)='resgatar()'>Resgatar</a>
        </div>
      </div>
    </div>

  </div>


</div>

<!-- / EMPRESAS -->






















<!-- PARCEIROS -->


<div class="jumbotron jumbotron-fluid mb-0 p-0 pb-4 pt-5 mt-4">
  <div class="container">
    <h1 class="text-center my-3">Projetos Parceiros</h1>
    <p style="font-size: 16px;" class="lead text-justify text-center">Para conhecer outros projetos excelentes da Turma
      7 - Generation, visite os sites linkados abaixo:
  </div>
</div>


<div class="container-fluid bg-dark p-0  d-flex justify-content-center align-items-center">

  <div class="row p-0  mb-5 mt-5 d-flex justify-content-center align-items-center w-100 bg-dark">



    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="https://github.com/bpcavalcante/ZUZ-Projeto-Integrador-FrontEnd " target="_blank"
          rel="noopener noreferrer">
          <img src="../../assets/img/zuzs.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>


    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="https://github.com/sofifernandes/HoldingHands-Front" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/hands.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="https://github.com/procausas" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/pro-causas.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>



  </div>

</div>

<div class="container-fluid bg-dark p-0 mb-5 d-flex justify-content-center align-items-center">

  <div class="row p-0  mb-5 mt-5 d-flex justify-content-center align-items-center w-100 bg-dark">



    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="https://github.com/Brunostelzeneder/projetoIntegrador-frontEnd" target="_blank"
          rel="noopener noreferrer">
          <img src="../../assets/img/OnTheGo.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>


    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="https://github.com/samfir31/PlanteUmaArvore-Front-Pi" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/arvore.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem;">
        <a href="https://github.com/HenriqueLimaAlves/DoaCommerceFront" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/img/doa-commerce.png" class="card-img-top" alt="...">
        </a>
      </div>
    </div>



  </div>

</div>


<!-- / PARCEIROS -->



<!--navbar vermelho-->
<app-footer></app-footer>
<!-- /navbar vermelho-->
