<div class="container-fluid cont-deletetema d-flex justify-content-center align-items-center">

    <div class="row mt-5 mb-5 w-100">

  
      <div data-aos="fade-up" class="col-md-6">
        <div class="box-editatema bg-dark">
  
          <h3 class="text-center  "> <span style="color: cornflowerblue; "> Tema a ser deletado</span></h3>
          <div>
  
          <div class="card mt-5">
  
            <div class="card-body">
              <p class="card-text text-dark " aria-describedby="texto">{{tema.descricao}} </p>
            </div>
          </div>
  
          <hr class="mt-4 mb-4">
  
          <h5 class="text-center">Tem certeza que deseja apagar esse Tema?</h5>
          <div class="d-flex justify-content-center mt-5">
            <button class="btn btn-outline-success mr-3" (click)="btnSim()">Sim</button>
            <button class="btn btn-outline-danger" (click)="btnNao()">Não</button>
          </div>
        </div>
      </div>
  
  
  
  
    </div>
  </div>
