:root {
    --primary-red: #A30A08;
    --secundary-red: #DE4D4D;
    --primary-green: #00C580;
    --secundary-green: #33FFB8;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration:none;
}