.container-home{
    position: relative;
    top: 90px;
    
    height: 83vh;
}

.container-cards{
    position: relative;
    top: 150px;
    
    height: 83vh;
}



.col-home{
  
    height: 83vh;
}




.card-home{
    height: 450px;
}


.botao{
    background-color: var(--primary-green);
    color: #FFF;
    transition: ease 400ms;
}

.botao:hover{
    opacity: 0.8;
}

.parallax{

    position: relative;
    top: 60px;
    background-image: url("../../assets/img/gif2.gif"); 
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-carousel {
    height: 100vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
 
  background-size: 100%, 100%;

  background-image: none;
}

.carousel-control-next-icon[_ngcontent-vaq-c53]:after
{
  content: '>';
  font-size: 55px;
  color: rgb(189, 189, 189);
}

.carousel-control-prev-icon[_ngcontent-vaq-c53]:after {
  content: '<';
  font-size: 55px;
  color: rgb(189, 189, 189);
}

.carousel-control-next{
    justify-content: flex-end !important;
}

.carousel-control-prev{
    justify-content: flex-start !important;
}

.row-carousel{
    height: 100vh;
}

.img-shadow{
    box-shadow: 2px 2px 20px #000;
}
