.container-home{
    position: relative;
    top: 90px;
    
    height: 83vh;
}



.col-home{
  
    height: 83vh;
}


.card-home{
    height: 450px;
}


.botao{
    background-color: var(--primary-green);
    color: #FFF;
    transition: ease 400ms;
}

.botao:hover{
    opacity: 0.8;
}


